In [2]:
pip install nba_api

Requirement already satisfied: nba_api in c:\users\user\anaconda3\lib\site-packages (1.4.1)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in c:\users\user\anaconda3\lib\site-packages (from nba_api) (1.26.3)
Requirement already satisfied: certifi<2024.0.0,>=2023.7.22 in c:\users\user\anaconda3\lib\site-packages (from nba_api) (2023.11.17)
Requirement already satisfied: requests<3.0,>=2.31 in c:\users\user\anaconda3\lib\site-packages (from nba_api) (2.31.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0,>=2.31->nba_api) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0,>=2.31->nba_api) (3.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0,>=2.31->nba_api) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from nba_api.stats.endpoints import leaguegamefinder

In [10]:
gamefinder = leaguegamefinder.LeagueGameFinder(date_from_nullable='10/18/2022',date_to_nullable='04/09/2023',league_id_nullable='00')
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22022,1610612764,WAS,Washington Wizards,0022201222,2023-04-09,WAS vs. HOU,L,240,109,...,0.619,14,37,51,28,11,5,12,21,-5.0
1,22022,1610612754,IND,Indiana Pacers,0022201220,2023-04-09,IND @ NYK,W,241,141,...,0.789,8,36,44,33,8,9,15,24,5.0
2,22022,1610612753,ORL,Orlando Magic,0022201219,2023-04-09,ORL @ MIA,L,240,110,...,0.708,13,30,43,29,13,1,14,17,-13.0
3,22022,1610612738,BOS,Boston Celtics,0022201216,2023-04-09,BOS vs. ATL,W,240,120,...,0.786,12,35,47,33,5,3,15,13,6.0
4,22022,1610612743,DEN,Denver Nuggets,0022201227,2023-04-09,DEN vs. SAC,W,240,109,...,0.720,15,36,51,25,11,2,16,15,14.0

In [11]:
games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [12]:
games = games[['TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'PLUS_MINUS']]

In [13]:
games

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS
0,Washington Wizards,0022201222,2023-04-09,WAS vs. HOU,L,-5.0
1,Indiana Pacers,0022201220,2023-04-09,IND @ NYK,W,5.0
2,Orlando Magic,0022201219,2023-04-09,ORL @ MIA,L,-13.0
3,Boston Celtics,0022201216,2023-04-09,BOS vs. ATL,W,6.0
4,Denver Nuggets,0022201227,2023-04-09,DEN vs. SAC,W,14.0
...,...,...,...,...,...,...
2465,Denver Nuggets,0022200012,2022-10-19,DEN @ UTA,L,-21.0
2466,Boston Celtics,0022200001,2022-10-18,BOS vs. PHI,W,9.0
2467,Philadelphia 76ers,0022200001,2022-10-18,PHI @ BOS,L,-9.0
2468,Los Angeles Lakers,0022200002,2022-10-18,LAL @ GSW,L,-14.0
2469,Golden State Warriors,0022200002,2022-10-18,GSW vs. LAL,W,14.0

In [14]:
import pandas as pd

In [15]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2470 entries, 0 to 2469
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM_NAME   2470 non-null   object
 1   GAME_ID     2470 non-null   object
 2   GAME_DATE   2470 non-null   object
 3   MATCHUP     2470 non-null   object
 4   WL          2470 non-null   object
 5   PLUS_MINUS  2470 non-null   float64
dtypes: float64(1), object(5)
memory usage: 115.9+ KB

In [16]:
games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])

In [17]:
games['GAME_DATE']

0      2023-04-09
1      2023-04-09
2      2023-04-09
3      2023-04-09
4      2023-04-09
          ...
2465   2022-10-19
2466   2022-10-18
2467   2022-10-18
2468   2022-10-18
2469   2022-10-18
Name: GAME_DATE, Length: 2470, dtype: datetime64[ns]

In [18]:
games = games.sort_values('GAME_DATE')
games

                  TEAM_NAME     GAME_ID  GAME_DATE      MATCHUP WL  PLUS_MINUS
2469  Golden State Warriors  0022200002 2022-10-18  GSW vs. LAL  W        14.0
2466         Boston Celtics  0022200001 2022-10-18  BOS vs. PHI  W         9.0
2468     Los Angeles Lakers  0022200002 2022-10-18    LAL @ GSW  L       -14.0
2467     Philadelphia 76ers  0022200001 2022-10-18    PHI @ BOS  L        -9.0
2442      San Antonio Spurs  0022200011 2022-10-19  SAS vs. CHA  L       -27.0
...                     ...         ...        ...          ... ..         ...
27          New York Knicks  0022201220 2023-04-09  NYK vs. IND  L        -5.0
28        Memphis Grizzlies  0022201226 2023-04-09    MEM @ OKC  L       -15.0
29         Sacramento Kings  0022201227 2023-04-09    SAC @ DEN  L       -14.0
15        San Antonio Spurs  0022201224 2023-04-09    SAS @ DAL  W        21.0
0        Washington Wizards  0022201222 2023-04-09  WAS vs. HOU  L        -5.0

[2470 rows x 6 columns]

In [19]:
games['avg_30_plus_minus'] = games.groupby("TEAM_NAME")["PLUS_MINUS"].transform(lambda x: x.rolling(30, closed='left').mean())

In [20]:
games

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
2469,Golden State Warriors,0022200002,2022-10-18,GSW vs. LAL,W,14.0,NaN
2466,Boston Celtics,0022200001,2022-10-18,BOS vs. PHI,W,9.0,NaN
2468,Los Angeles Lakers,0022200002,2022-10-18,LAL @ GSW,L,-14.0,NaN
2467,Philadelphia 76ers,0022200001,2022-10-18,PHI @ BOS,L,-9.0,NaN
2442,San Antonio Spurs,0022200011,2022-10-19,SAS vs. CHA,L,-27.0,NaN
...,...,...,...,...,...,...,...
27,New York Knicks,0022201220,2023-04-09,NYK vs. IND,L,-5.0,5.000000
28,Memphis Grizzlies,0022201226,2023-04-09,MEM @ OKC,L,-15.0,4.300000
29,Sacramento Kings,0022201227,2023-04-09,SAC @ DEN,L,-14.0,2.566667
15,San Antonio Spurs,0022201224,2023-04-09,SAS @ DAL,W,21.0,-11.600000
0,Washington Wizards,0022201222,2023-04-09,WAS vs. HOU,L,-5.0,-2.800000

In [21]:
games[games['TEAM_NAME']=='Philadelphia 76ers'].head(35)

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
2467,Philadelphia 76ers,0022200001,2022-10-18,PHI @ BOS,L,-9.0,NaN
2439,Philadelphia 76ers,0022200015,2022-10-20,PHI vs. MIL,L,-2.0,NaN
2410,Philadelphia 76ers,0022200028,2022-10-22,PHI vs. SAS,L,-9.0,NaN
2380,Philadelphia 76ers,0022200044,2022-10-24,PHI vs. IND,W,14.0,NaN
2342,Philadelphia 76ers,0022200059,2022-10-26,PHI @ TOR,L,-10.0,NaN
2328,Philadelphia 76ers,0022200073,2022-10-28,PHI @ TOR,W,22.0,NaN
2300,Philadelphia 76ers,0022200084,2022-10-29,PHI @ CHI,W,5.0,NaN
2271,Philadelphia 76ers,0022200097,2022-10-31,PHI @ WAS,W,7.0,NaN
2245,Philadelphia 76ers,0022200108,2022-11-02,PHI vs. WAS,L,-10.0,NaN
2223,Philadelphia 76ers,0022200122,2022-11-04,PHI vs. NYK,L,-2.0,NaN
2172,Philadelphia 76ers,0022200148,2022-11-07,PHI vs. PHX,W,12.0,NaN
2122,Philadelphia 76ers,0022200173,2022-11-10,PHI @ ATL,L,-9.0,NaN
2094,Philadelphia 76ers,0022200188,2022-11-12,PHI vs. ATL,W,12.0,NaN
2084,Philadelphia 76ers,0022200195,2022-11-13,PHI vs. UTA,W,7.0,NaN
2006,Philadelphia 76ers,0022200226,2022-11-18,PHI vs. MIL,W,8.0,NaN
1996,Philadelphia 76ers,0022200237,2022-11-19,PHI vs. MIN,L,-3.0,NaN
1955,Philadelphia 76ers,0022200256,2022-11-22,PHI vs. BKN,W,9.0,NaN
1936,Philadelphia 76ers,0022200260,2022-11-23,PHI @ CHA,L,-6.0,NaN
1901,Philadelphia 76ers,0022200273,2022-11-25,PHI @ ORL,W,8.0,NaN
1890,Philadelphia 76ers,0022200297,2022-11-27,PHI @ ORL,W,30.0,NaN
1865,Philadelphia 76ers,0022200299,2022-11-28,PHI vs. ATL,W,3.0,NaN
1844,Philadelphia 76ers,0022200312,2022-11-30,PHI @ CLE,L,-28.0,NaN
1807,Philadelphia 76ers,0022200332,2022-12-02,PHI @ MEM,L,-8.0,NaN
1758,Philadelphia 76ers,0022200356,2022-12-05,PHI @ HOU,L,-9.0,NaN
1712,Philadelphia 76ers,0022200382,2022-12-09,PHI vs. LAL,W,11.0,NaN
1675,Philadelphia 76ers,0022200399,2022-12-11,PHI vs. CHA,W,18.0,NaN
1644,Philadelphia 76ers,0022200409,2022-12-13,PHI vs. SAC,W,20.0,NaN
1602,Philadelphia 76ers,0022200432,2022-12-16,PHI vs. GSW,W,12.0,NaN
1554,Philadelphia 76ers,0022200453,2022-12-19,PHI vs. TOR,W,3.0,NaN
1534,Philadelphia 76ers,0022200467,2022-12-21,PHI vs. DET,W,20.0,NaN
1494,Philadelphia 76ers,0022200480,2022-12-23,PHI vs. LAC,W,5.0,3.866667
1481,Philadelphia 76ers,0022200493,2022-12-25,PHI @ NYK,W,7.0,4.333333
1457,Philadelphia 76ers,0022200506,2022-12-27,PHI @ WAS,L,-5.0,4.633333
1400,Philadelphia 76ers,0022200534,2022-12-30,PHI @ NOP,L,-11.0,4.766667
1383,Philadelphia 76ers,0022200545,2022-12-31,PHI @ OKC,W,19.0,3.933333

In [22]:
msk = games['MATCHUP'].str.contains('@')
games_away = games[msk]
games_home = games[~msk]

In [23]:
games_home.shape

(1235, 7)

In [24]:
games_away.shape

(1235, 7)

In [25]:
games_home

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
2469,Golden State Warriors,0022200002,2022-10-18,GSW vs. LAL,W,14.0,NaN
2466,Boston Celtics,0022200001,2022-10-18,BOS vs. PHI,W,9.0,NaN
2442,San Antonio Spurs,0022200011,2022-10-19,SAS vs. CHA,L,-27.0,NaN
2443,Sacramento Kings,0022200014,2022-10-19,SAC vs. POR,L,-7.0,NaN
2445,Detroit Pistons,0022200003,2022-10-19,DET vs. ORL,W,4.0,NaN
...,...,...,...,...,...,...,...
24,Oklahoma City Thunder,0022201226,2023-04-09,OKC vs. MEM,W,15.0,1.033333
25,Portland Trail Blazers,0022201230,2023-04-09,POR vs. GSW,L,-56.0,-10.066667
26,Dallas Mavericks,0022201224,2023-04-09,DAL vs. SAS,L,-21.0,0.433333
27,New York Knicks,0022201220,2023-04-09,NYK vs. IND,L,-5.0,5.000000
0,Washington Wizards,0022201222,2023-04-09,WAS vs. HOU,L,-5.0,-2.800000

In [26]:
games_merged = pd.merge(games_home, games_away, on='GAME_ID', suffixes=('_home', '_away'))
games_merged

,TEAM_NAME_home,GAME_ID,GAME_DATE_home,MATCHUP_home,WL_home,PLUS_MINUS_home,avg_30_plus_minus_home,TEAM_NAME_away,GAME_DATE_away,MATCHUP_away,WL_away,PLUS_MINUS_away,avg_30_plus_minus_away
0,Golden State Warriors,0022200002,2022-10-18,GSW vs. LAL,W,14.0,NaN,Los Angeles Lakers,2022-10-18,LAL @ GSW,L,-14.0,NaN
1,Boston Celtics,0022200001,2022-10-18,BOS vs. PHI,W,9.0,NaN,Philadelphia 76ers,2022-10-18,PHI @ BOS,L,-9.0,NaN
2,San Antonio Spurs,0022200011,2022-10-19,SAS vs. CHA,L,-27.0,NaN,Charlotte Hornets,2022-10-19,CHA @ SAS,W,27.0,NaN
3,Sacramento Kings,0022200014,2022-10-19,SAC vs. POR,L,-7.0,NaN,Portland Trail Blazers,2022-10-19,POR @ SAC,W,7.0,NaN
4,Detroit Pistons,0022200003,2022-10-19,DET vs. ORL,W,4.0,NaN,Orlando Magic,2022-10-19,ORL @ DET,L,-4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,Oklahoma City Thunder,0022201226,2023-04-09,OKC vs. MEM,W,15.0,1.033333,Memphis Grizzlies,2023-04-09,MEM @ OKC,L,-15.0,4.300000
1231,Portland Trail Blazers,0022201230,2023-04-09,POR vs. GSW,L,-56.0,-10.066667,Golden State Warriors,2023-04-09,GSW @ POR,W,56.0,3.100000
1232,Dallas Mavericks,0022201224,2023-04-09,DAL vs. SAS,L,-21.0,0.433333,San Antonio Spurs,2023-04-09,SAS @ DAL,W,21.0,-11.600000
1233,New York Knicks,0022201220,2023-04-09,NYK vs. IND,L,-5.0,5.000000,Indiana Pacers,2023-04-09,IND @ NYK,W,5.0,-5.666667
1234,Washington Wizards,0022201222,2023-04-09,WAS vs. HOU,L,-5.0,-2.800000,Houston Rockets,2023-04-09,HOU @ WAS,W,5.0,-9.333333

In [27]:
games_merged['avg_30_plus_minus_diff'] = games_merged['avg_30_plus_minus_home'] - games_merged['avg_30_plus_minus_away']

In [28]:
games_merged

,TEAM_NAME_home,GAME_ID,GAME_DATE_home,MATCHUP_home,WL_home,PLUS_MINUS_home,avg_30_plus_minus_home,TEAM_NAME_away,GAME_DATE_away,MATCHUP_away,WL_away,PLUS_MINUS_away,avg_30_plus_minus_away,avg_30_plus_minus_diff
0,Golden State Warriors,0022200002,2022-10-18,GSW vs. LAL,W,14.0,NaN,Los Angeles Lakers,2022-10-18,LAL @ GSW,L,-14.0,NaN,NaN
1,Boston Celtics,0022200001,2022-10-18,BOS vs. PHI,W,9.0,NaN,Philadelphia 76ers,2022-10-18,PHI @ BOS,L,-9.0,NaN,NaN
2,San Antonio Spurs,0022200011,2022-10-19,SAS vs. CHA,L,-27.0,NaN,Charlotte Hornets,2022-10-19,CHA @ SAS,W,27.0,NaN,NaN
3,Sacramento Kings,0022200014,2022-10-19,SAC vs. POR,L,-7.0,NaN,Portland Trail Blazers,2022-10-19,POR @ SAC,W,7.0,NaN,NaN
4,Detroit Pistons,0022200003,2022-10-19,DET vs. ORL,W,4.0,NaN,Orlando Magic,2022-10-19,ORL @ DET,L,-4.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,Oklahoma City Thunder,0022201226,2023-04-09,OKC vs. MEM,W,15.0,1.033333,Memphis Grizzlies,2023-04-09,MEM @ OKC,L,-15.0,4.300000,-3.266667
1231,Portland Trail Blazers,0022201230,2023-04-09,POR vs. GSW,L,-56.0,-10.066667,Golden State Warriors,2023-04-09,GSW @ POR,W,56.0,3.100000,-13.166667
1232,Dallas Mavericks,0022201224,2023-04-09,DAL vs. SAS,L,-21.0,0.433333,San Antonio Spurs,2023-04-09,SAS @ DAL,W,21.0,-11.600000,12.033333
1233,New York Knicks,0022201220,2023-04-09,NYK vs. IND,L,-5.0,5.000000,Indiana Pacers,2023-04-09,IND @ NYK,W,5.0,-5.666667,10.666667
1234,Washington Wizards,0022201222,2023-04-09,WAS vs. HOU,L,-5.0,-2.800000,Houston Rockets,2023-04-09,HOU @ WAS,W,5.0,-9.333333,6.533333

In [29]:
games_model = games_merged[['WL_home', 'avg_30_plus_minus_diff']].dropna()
games_model

     WL_home  avg_30_plus_minus_diff
448        L               10.366667
450        L               -8.666667
455        W                5.593333
456        W                3.213333
457        W               -2.266667
...      ...                     ...
1230       W               -3.266667
1231       L              -13.166667
1232       L               12.033333
1233       L               10.666667
1234       L                6.533333

[772 rows x 2 columns]

In [30]:
games_model['WL_home'] = games_model['WL_home'].map({'W': 1, 'L': 0})

In [31]:
games_model

      WL_home  avg_30_plus_minus_diff
448         0               10.366667
450         0               -8.666667
455         1                5.593333
456         1                3.213333
457         1               -2.266667
...       ...                     ...
1230        1               -3.266667
1231        0              -13.166667
1232        0               12.033333
1233        0               10.666667
1234        0                6.533333

[772 rows x 2 columns]

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
df_train, df_test = train_test_split(games_model, stratify=games_model['WL_home'], test_size=0.2, random_state=9)

In [34]:
df_train.shape

(617, 2)

In [35]:
df_test.shape

(155, 2)

In [36]:
target = 'WL_home'
X_train = df_train.drop(columns=target)
y_train = df_train[target]

X_test = df_test.drop(columns=target)
y_test= df_test[target]

In [35]:
pip install xgboost --user

Collecting xgboost
  Using cached xgboost-2.0.3-py3-none-win_amd64.whl (99.8 MB)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from xgboost) (1.22.4)
Requirement already satisfied: scipy in c:\users\user\anaconda3\lib\site-packages (from xgboost) (1.7.3)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.3
Note: you may need to restart the kernel to use updated packages.

In [37]:
import xgboost as xgb

In [38]:
clf = xgb.XGBClassifier(use_label_encoder=False, random_state=9)

In [39]:
clf.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=9, ...)

In [40]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(X_test)

In [41]:
accuracy_score(y_test, y_pred)

0.5870967741935483

In [42]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.utils.fixes import loguniform

In [43]:
hyp_params = {'learning_rate': loguniform(0.0001, 1),
              'max_depth': [2, 3, 4, 5, 6, 7, 8, 9],
              'subsample': [0.7, 0.8, 0.9, 1.0],
              'n_estimators': [50, 100, 150, 200]}

In [44]:
random_hyp = RandomizedSearchCV(estimator=clf, 
                                param_distributions=hyp_params, 
                                n_iter=20, 
                                cv=7,
                                scoring='accuracy',
                                random_state=7)

In [45]:
random_hyp.fit(X_train, y_train)

RandomizedSearchCV(cv=7,
                   estimator=XGBClassifier(base_score=None, booster=None,
                                           callbacks=None,
                                           colsample_bylevel=None,
                                           colsample_bynode=None,
                                           colsample_bytree=None, device=None,
                                           early_stopping_rounds=None,
                                           enable_categorical=False,
                                           eval_metric=None, feature_types=None,
                                           gamma=None, grow_policy=None,
                                           importance_type=None,
                                           interaction_constraints=None,
                                           learning_rate...
                                           monotone_constraints=None,
                                           multi_strategy=None,
                                           n_estimators=None, n_jobs=None,
                                           num_parallel_tree=None,
                                           random_state=9, ...),
                   n_iter=20,
                   param_distributions={'learning_rate': <scipy.stats._distn_infrastructure.rv_frozen object at 0x00000287F747AC10>,
                                        'max_depth': [2, 3, 4, 5, 6, 7, 8, 9],
                                        'n_estimators': [50, 100, 150, 200],
                                        'subsample': [0.7, 0.8, 0.9, 1.0]},
                   random_state=7, scoring='accuracy')

In [46]:
random_hyp.best_params_

{'learning_rate': 0.014255533717547383,
 'max_depth': 2,
 'n_estimators': 100,
 'subsample': 0.9}

In [47]:
model_hyp = random_hyp.best_estimator_

In [48]:
y_pred_hyp = model_hyp.predict(X_test)

In [49]:
accuracy_score(y_test, y_pred_hyp)

0.6129032258064516

In [50]:
from joblib import dump, load
dump(model_hyp, 'model_nba.joblib') 
model_saved = load('model_nba.joblib')

In [51]:
accuracy_score(y_test, model_saved.predict(X_test))

0.6129032258064516

In [ ]:
from nba_api.stats.endpoints import leaguegamefinder
gamefinder = leaguegamefinder.LeagueGameFinder(date_from_nullable='10/18/2022',date_to_nullable='04/09/2023',league_id_nullable='00')
games = gamefinder.get_data_frames()[0]

games = games[['TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'PLUS_MINUS']]

import pandas as pd

games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])

games = games.sort_values('GAME_DATE')

games['avg_30_plus_minus'] = games.groupby('TEAM_NAME')['PLUS_MINUS'].transform(lambda x: x.rolling(30, closed='left').mean())

msk = games['MATCHUP'].str.contains('@')
games_away = games[msk]
games_home = games[~msk]

games_merged = pd.merge(games_home, games_away, on='GAME_ID', suffixes=('_home', '_away'))

games_merged['avg_30_plus_minus_diff'] = games_merged['avg_30_plus_minus_home'] - games_merged['avg_30_plus_minus_away']

In [52]:
team_home='Toronto Raptors'
team_away='Boston Celtics'

import numpy as np
gamefinder = leaguegamefinder.LeagueGameFinder(date_from_nullable='10/18/2022',date_to_nullable='04/09/2023',league_id_nullable='00')
games = gamefinder.get_data_frames()[0]
games = games[['TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'PLUS_MINUS']]
games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])

msk_home = (games['TEAM_NAME'] == team_home)
games_30_home = games[msk_home].sort_values('GAME_DATE').tail(30)
home_plus_minus = games_30_home['PLUS_MINUS'].mean()

msk_away = (games['TEAM_NAME'] == team_away)
games_30_away = games[msk_away].sort_values('GAME_DATE').tail(30)
away_plus_minus = games_30_away['PLUS_MINUS'].mean()

games_diff=home_plus_minus - away_plus_minus

predict_home_win=model_saved.predict(np.array([games_diff]))[0]
predict_winning_probability=model_saved.predict_proba(np.array([games_diff]))[0][1]

In [53]:
def predict_games(team_home, team_away):
    gamefinder = leaguegamefinder.LeagueGameFinder(
        date_from_nullable='01/01/2021',
        league_id_nullable='00')
    games = gamefinder.get_data_frames()[0]
    games = games[
        ['TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'PLUS_MINUS']]
    games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])

    msk_home = (games['TEAM_NAME'] == team_home)
    games_30_home = games[msk_home].sort_values('GAME_DATE').tail(30)
    home_plus_minus = games_30_home['PLUS_MINUS'].mean()

    msk_away = (games['TEAM_NAME'] == team_away)
    games_30_away = games[msk_away].sort_values('GAME_DATE').tail(30)
    away_plus_minus = games_30_away['PLUS_MINUS'].mean()

    games_diff = home_plus_minus - away_plus_minus

    predict_home_win = model_saved.predict(np.array([games_diff]))[0]
    predict_winning_probability = model_saved.predict_proba(np.array([games_diff]))[0][1]
    return predict_home_win, predict_winning_probability

In [54]:
predict_games('Boston Celtics','Toronto Raptors')

(1, 0.7357994)